
/* On applique la police et le format de la police globalement */
*
{
	font-family: "Open Sans", sans-serif;
	font-weight: lighter;
}



/* On désactive l'affichage des puces au ul/li */
ul li
{
	list-style:none;
}

/* Ajout d'une bordure sur le haut de la barre de navigation et du remplisage de l'espace des catégorie */
nav ul li
{
	border-top: 3px solid rgb(255, 255, 255);
	padding: 2em 1em 4em 1em;
}

header
{
	height: 105px;
}

#bloc_page
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

nav 
{
	z-index: 10;
	font-weight: 600;
	background-color: white;
	width: 100%;
    position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	height: 105px;
}

/* Supression des liens déjà visité dans la navbar + couleur noir par defaut */
nav ul li a
{
	text-decoration: none; 
	color: black;
}

/* Mettre en "bleu" le texte de la navbar quand on passe la souris dessus */
nav ul li a:hover
{
	color: rgb(82,159,195);
}

#navcss
{
	display: flex;
	margin-right: 10%;
	margin-top: auto;
	margin-bottom: auto;
}

/* On met en gras le text de la navbar */
#navcss li a
{
	font-weight: bold;
}

nav div 
{
	padding-top: 1em;
	margin-left: 10%;
}

/* On ajoute la bordure "bleu" quand on passe la souri sur la navbar */
nav ul li:hover 
{
	border-top: 3px solid rgb(82,159,195);
	font-weight: bold;
}

/* HEADER */

#sectionslider
{
	overflow: hidden;
}

#slider
{
	width: 200%;
	display:flex;
	position: relative;
	overflow: hidden;
	animation: slider 8s infinite;
}

/* On ajoute les etapes pour l'animation du slider */
@keyframes slider
{
	0% {margin-left:0;}
	20% {margin-left:0;}
	50% {margin-left:-100%;}
	70% {margin-left:-100%;}
	100% {margin-left:0;}
}

#slider img 
{
	width: 50%;
	height: 75%
}

#services
{
	margin:0;
	font-weight:600;
	position: relative;
	margin: 5em auto;
}

/* On augmente de 250% La taille du H2 du "titres" */
#services h2
{
	margin-bottom: 0.3em;
	font-size: 250%;
}

/* On augmente de 250% La taille du H2 du "titres" */
#portfolio h2
{
	margin-bottom: 0.3em;
	font-size: 250%;
}


section#services hr
{
	z-index: 1;
	width: 12%;
	position: absolute;
	left: 44%;
	top: 169px;
}

section#portfolio hr
{
	z-index: 1;
	width: 12%;
	position: absolute;
	left: 44%;
	top: 1656px;
}




#listeservices
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6em 0em 0em 0em; /* On augmente l'espace entre le bloc sectiondescription et listeservices */
}

.paragraphe
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.paragraphetext
{
	width: 100%;
}

.cerclegris
{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid grey;
	top: 0;
	left: 0;
}

.rondbleuparagraphe
{
	top: 28px;
	left: 62px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: rgb(82,159,195);
	border: solid 2px white;
}

/* On aligne les texte H2 + les paragraphes dans toutes les section services/portfolio */
section#services h2, section#services p.sectiondescription, section#portfolio h2, section#portfolio p.sectiondescription
{
	text-align:center;
}

.paragrapheimage
{
	position: relative;
	width: 100px;
	height: 100px;
}

.iconparagraphe,.rondbleuparagraphe,.cerclegris
{
	position: absolute;
}

.iconparagraphe
{
	color: rgb(82,159,195);
	top: 19px;
	left: 16px;
}

#iconparagraphe3
{
	margin-left: 6px;
}

/* On met la largeur de la parti droite des services pour que ça sois pas collé au bord */
#paragraphes
{
	width: 45%
}

/* On met la taille de la police a 24px et en gras uniquement pour les 
aside dans la section services listeservices paragraphes et l'id paragraphetext */
section#services #listeservices #paragraphes .paragraphetext aside
{
	font-size: 24px;
	font-weight: bold;
}

/* On positionne l'onglet "Nos Services" pour que sa soit droit quand on clique sur la section du nav */
#nos-service
{
	padding: 2.5em 0em 1.7em 0em;
}

/* On positionne l'onglet "Nos Services" pour que sa soit droit quand on clique sur la section du nav */
#nos-projets
{
	padding: 1.5em 0em 1.7em 0em;
}

/* Couleur de fond "gris" de la section portfolio */
section#portfolio
{
	padding: 1em 0em 0em 0em;
	background-color: rgb(245,245,245);
}

/* Centrage du bloc menu du portfolio + du padding pour l'abaisser */
section#portfolio #blocportfolio #menuportfolio
{
	display: flex;
	justify-content: center;
	padding: 3em 0em 0em 0em;
}

/* Mise en page du menu de selection dans "nos projets" */
#portfolio ul li
{
	padding: 0.8em 1em 0.8em 1em;
	background-color: rgb(229, 229, 229);
	font-weight: bold;
}

/* Couleur d'activation du "bouton" activation du menu portfolio */
.activeli
{
	color: rgb(82,159,195);
}

/* Centrage des fleche du menu portfolio avec flex */
#flechemenuportfolio 
{
	display: flex;
	justify-content: center;
}

/* margin/padding + changement de la taille des fleches sur le menu portfolio */
.fa-caret-down
{
	margin-top: -24.5px;
	padding: 0em 2.1em 0em 2.1em;
	font-size: 22px
}

#li1
{
	/* background-color: rgb(82,159,195); */
}

section#services #facircle .rondbleuparagraphe
{
	margin-left: 602px;
	margin-top: 140px;
	z-index: 9;
}

section#portfolio #facircle2 .rondbleuparagraphe
{
	margin-left: 603px;
	margin-top: 1627.5px;
	z-index: 9;
}